<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxLayout="row" fxLayoutAlign="start start">
    <mat-card-title fxFlex="90px">Fundoo</mat-card-title>
    <mat-card-content>
      <div>
        <h1>Create your Google Account</h1>

        <div fxLayout="row">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>First name</mat-label>
            <input matInput autocomplete="off" [formControl]="firstName" />
            <mat-error *ngIf="firstName.invalid">{{
              getFirstNameErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Last name</mat-label>
            <input matInput autocomplete="off" [formControl]="lastName" />
            <mat-error *ngIf="lastName.invalid">{{
              getLastNameErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="outline" class="email-input">
            <mat-label>Username</mat-label>
            <input matInput autocomplete="off" [formControl]="emailId" />
            <mat-error *ngIf="emailId.invalid">{{
              getEmailIdErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlexFill>
          <mat-form-field appearance="outline" class="password-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              [formControl]="password"
              [type]="hide ? 'password' : 'text'"
            />
            <mat-error *ngIf="password.invalid">{{
              getPasswordErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="password-field">
            <mat-label>Confirm</mat-label>
            <input
              matInput
              [formControl]="confirmPassword"
              [type]="hide ? 'password' : 'text'"
            />
            <mat-error *ngIf="confirmPassword.invalid">{{
              getConfirmPasswordErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <mat-icon mat-fab matSuffix (click)="hide = !hide">
            {{ hide ? "visibility_off" : "visibility" }}
          </mat-icon>
        </div>
        <div fxLayout="row" class="button-container" fxLayoutGap="150px">
          <button class="sign" mat-button>Sign in instead</button>
          <button
            class="next"
            mat-raised-button
            type="submit"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
      </div>
    </mat-card-content>
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" />
      <span>One account All of Google working for you</span>
    </div>
  </mat-card>
</div>
