<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <h1>Fundoo App</h1>
      <mat-card-header >
        <mat-card-title fxLayoutAlign="center center">Sing In</mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center center"
          >Use your Fundoo account</mat-card-subtitle
        >
      </mat-card-header>
    </div>

    <div fxLayoutAlign="space-around">
      <mat-card-content fxLayout="column" fxFlex="85%" fxLayoutGap="40px">
        <mat-form-field appearance="outline">
          <mat-label>Email Id</mat-label>
          <input matInput autocomplete="off" [formControl]="emailId" />
          <mat-error *ngIf="emailId.invalid">{{
            getEmailIdErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            autocomplete="off"
            [formControl]="password"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-error *ngIf="password.invalid">{{
            getPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </mat-card-content>
    </div>

    <mat-card-actions fxLayoutAlign="space-around ">
      <div class="button-container" fxLayout="row" fxLayoutGap="150px">
        <button routerLink="/register" class="create" mat-button>
          Sign in instead
        </button>
        <button class="signIn" mat-raised-button (click)="signIn()">
          Sign In
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
